{
  "linters": {
    "manual-sort.js": [
      "npx eslint --cache",
      "yarn test"
    ],
    "manual-sort-sync.js": [
      "npx eslint --cache",
      "yarn test"
    ],
  },
  "ignore": [
    "**/scripts/**",
    "**/coverage/**"
  ]
}
