depth=0
loglevel=info
engine-strict=true
fetch-retries=3
fetch-retry-mintimeout=5
save=true
package-lock=false
registry=http://registry.npmjs.org/

# https-proxy=sock5://127.0.0.1:1080
# metrics-registry=https://registry.npm.taobao.org
